<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Django</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Pocetna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lista">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/druga-strana">Druga strana</a>
        </li>
      </ul>

      <a class="justify-content-end btn btn-sm btn-outline-light " href="/login">Login</a>
        
    </div>
  </div>
</nav>